body {
	font-family: "inter", serif;
	font-size: 18px;
	max-width:75ch;
	margin:auto;
	color: blue;
}

h1 {
	font-family: "inter", serif;
	font-size: 60px;
	text-align: left;
	font-weight:900;
	}

h2 {
	font-size: 36px;
	font-family: "inter", serif;
	background-color: blue;
	color: white;
}

p {
	line-height: 150%;
	margin-bottom: 40px;
}

section {
	margin-top: 64px;
}

footer {
	background-color: blue;
	color: white;
}

.author-item-1 {
	font-size: 60px;
	background-color: blue;
	color: white;
}